[submodule "dependencies/caminogo"]
	path = dependencies/caminogo
	url = https://github.com/chain4travel/caminogo.git

[submodule "examples/dependencies/caminojs"]
	path = examples/dependencies/caminojs
	url = https://github.com/chain4travel/caminojs.git
