# IDE configs
.idea
.vscode*

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

./signavaultjs/node_modules/
./signavaultjs/dist/
./signavaultjs/typings/
./signavaultjs/package-lock.json

./examples/node_modules/
./examples/package-lock.json